/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

.pg-content-gral, .container-fluid
  background-color: #0a234d

.pg-content-gral
  height: 100vh
  color: #fff
  padding-top: 1em
